Get Stock data from December 2022 - January 2023

In [ ]:
import pandas as pd
import requests

# request data on google stock prices from stockdata.org
url = "https://api.stockdata.org/v1/data/eod?symbols=GOOG&date_from=2023-02-18&date_to=2023-03-19&api_token=bWjZGVry95v88G43d6HVqmHuSEo0cYaQXY54GAJj"

response = requests.request("GET", url )

In [ ]:
response_dict = response.json()
response_dict.keys()

dict_keys(['meta', 'data'])

In [ ]:
# Extract the stock data for GOOG from the response dictionary
goog_data = response_dict['data']

# Convert the stock data to a Pandas DataFrame
goog_df = pd.DataFrame(goog_data)
goog_df['date']=goog_df['date'].str[:10]
#goog_df = goog_df.set_index("date")
goog_df

          date    open    high     low   close    volume
0   2023-03-17  100.84  103.49  100.75  102.46  76140310
1   2023-03-16   96.57  101.97   95.87  101.07  54588200
2   2023-03-15   93.54   97.25   93.04   96.55  38367334
3   2023-03-14   93.07   94.83   92.78   94.25  32303881
4   2023-03-13   90.57   93.08   89.94   91.66  31508570
5   2023-03-10   92.50   93.18   90.80   91.01  32850092
6   2023-03-09   94.49   95.92   92.36   92.66  24438890
7   2023-03-08   94.41   96.24   94.41   94.65  25395200
8   2023-03-07   95.42   96.09   93.84   94.17  24101536
9   2023-03-06   94.36   96.30   94.30   95.58  28288206
10  2023-03-03   92.74   94.11   92.66   94.02  30242538
11  2023-03-02   89.86   92.48   89.77   92.31  23344562
12  2023-03-01   90.16   91.20   89.85   90.51  26323876
13  2023-02-28   89.54   91.45   89.52   90.30  30546912
14  2023-02-27   90.09   90.45   89.61   90.10  22724262
15  2023-02-24   89.63   90.13   88.86   89.35  31295619
16  2023-02-23   92.13   92.13   90.01   91.07  32423720
17  2023-02-22   91.93   92.36   90.87   91.80  29891135
18  2023-02-21   93.24   93.41   92.00   92.05  28367198

In [ ]:
goog_df.to_csv("Goog_stock_Feb19-Mar18.csv")

Scrape website to retrieve top 50 news domains. Data is from February.

In [ ]:
import pandas as pd
import requests
response_find_domains = requests.get("https://pressgazette.co.uk/media-audience-and-business-data/media_metrics/most-popular-websites-news-us-monthly-3/")

import time

from bs4 import BeautifulSoup
soup = BeautifulSoup(response_find_domains.text, "html.parser")

In [ ]:
find_domains = soup.find("iframe", attrs = {"title": "The NY Times is the biggest news site in the US"})

find_domains

<iframe aria-label="Table" data-external="1" frameborder="0" height="1324" id="datawrapper-chart-iusxr" scrolling="no" src="https://datawrapper.dwcdn.net/iusxr/1/" style="width: 0; min-width: 100% !important; border: none;" title="The NY Times is the biggest news site in the US"></iframe>

In [ ]:
domains_50 = {}
all_domains = ["nytimes.com", "cnn.com", "msn.com", "foxnews.com", "nypost.com", "bbc.com & bbc.co.uk", "finance.yahoo.com", "news.google.com", "people.com", "washingtonpost.com", "usatoday.com", "dailymail.co.uk", "cnbc.com", "news.yahoo.com", "the-sun.com", "theguardian.com", "forbes.com", "wsj.com", "businessinsider.com", "nbcnews.com", "buzzfeed.com", "apnews.com", "cbsnews.com", "reuters.com", "huffpost.com",
 "drudgereport.com", "thehill.com", "usnews.com", "latimes.com", "politico.com", "bloomberg.com", "abcnews.go.com", "newsweek.com", "breitbart.com", "sfgate.com", "variety.com", "substack.com", "theatlantic.com", "today.com", "thedailybeast.com", "patch.com", "cosmopolitan.com", "newsmax.com", "cheatsheet.com", "thegatewaypundit.com", "theverge.com", "ksl.com", "zerohedge.com", "theepochtimes.com", "usmagazine.com"]

for i in range(50):
    domains_50[all_domains[i]] = i + 1

print(domains_50)

{'nytimes.com': 1, 'cnn.com': 2, 'msn.com': 3, 'foxnews.com': 4, 'nypost.com': 5, 'bbc.com & bbc.co.uk': 6, 'finance.yahoo.com': 7, 'news.google.com': 8, 'people.com': 9, 'washingtonpost.com': 10, 'usatoday.com': 11, 'dailymail.co.uk': 12, 'cnbc.com': 13, 'news.yahoo.com': 14, 'the-sun.com': 15, 'theguardian.com': 16, 'forbes.com': 17, 'wsj.com': 18, 'businessinsider.com': 19, 'nbcnews.com': 20, 'buzzfeed.com': 21, 'apnews.com': 22, 'cbsnews.com': 23, 'reuters.com': 24, 'huffpost.com': 25, 'drudgereport.com': 26, 'thehill.com': 27, 'usnews.com': 28, 'latimes.com': 29, 'politico.com': 30, 'bloomberg.com': 31, 'abcnews.go.com': 32, 'newsweek.com': 33, 'breitbart.com': 34, 'sfgate.com': 35, 'variety.com': 36, 'substack.com': 37, 'theatlantic.com': 38, 'today.com': 39, 'thedailybeast.com': 40, 'patch.com': 41, 'cosmopolitan.com': 42, 'newsmax.com': 43, 'cheatsheet.com': 44, 'thegatewaypundit.com': 45, 'theverge.com': 46, 'ksl.com': 47, 'zerohedge.com': 48, 'theepochtimes.com': 49, 'usmagazine.com': 50}

Get News data about chatgpt, from the top 50 sites

In [ ]:
import pandas as pd
import requests
import time

results = pd.DataFrame([])
for domain in domains_50:
  # request data on google stock prices from thenewsapi.com
  url = "https://newsapi.org/v2/everything?q=ChatGPT&domains=" + domain + "&apiKey=b98e6cfa88d744ddad92a4b62da6a7ff"
  response = requests.request("GET", url )
  response_dict = response.json()
  print(response_dict.keys())
  # Extract the news data for chatGPT from the response dictionary
  news_data = response_dict['articles']

  # Convert the news data to a Pandas DataFrame
  news_df = pd.DataFrame(news_data)
  #news_df["Journal"] = domain
  #news_df["Ranking"] = domains_50[domain]
  results = pd.concat([results, news_df], ignore_index=True)
  
  time.sleep(0.5)
results

dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])
dict_keys(['status', 'totalResults', 'articles'])

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'cnn', 'name': 'CNN'}",Samantha Murphy Kelly,5 jaw-dropping things GPT-4 can do that ChatGP...,"In the first day after it was unveiled, GPT-4 ...",https://www.cnn.com/2023/03/16/tech/gpt-4-use-...,https://media.cnn.com/api/v1/images/stellar/pr...,2023-03-16T11:59:25Z,"In the first day after it was unveiled,GPT-4 s..."
1,"{'id': 'cnn', 'name': 'CNN'}",Zachary B. Wolf,"Analysis: AI can be racist, sexist and creepy....","The emergence of ChatGPT and now GPT-4, the ar...",https://www.cnn.com/2023/03/18/politics/ai-cha...,https://media.cnn.com/api/v1/images/stellar/pr...,2023-03-18T13:29:53Z,A version of this story appeared in CNNs What ...
2,"{'id': 'cnn', 'name': 'CNN'}",Alexandra Ferguson,La tecnología detrás de ChatGPT está a punto d...,Casi cuatro meses después de que OpenAI sorpre...,https://cnnespanol.cnn.com/2023/03/14/actualiz...,https://cnnespanol.cnn.com/wp-content/uploads/...,2023-03-15T02:02:44Z,Así podría incorporar Microsoft el ChatGPT a s...
3,"{'id': 'cnn', 'name': 'CNN'}",Melissa Velásquez Loaiza,5 cosas asombrosas que GPT-4 puede hacer que C...,"El primer día después de su presentación, GPT-...",https://cnnespanol.cnn.com/2023/03/16/5-cosas-...,https://cnnespanol.cnn.com/wp-content/uploads/...,2023-03-16T14:26:43Z,Openai da mayor potencia a ChatGPT 1:15\r\n(CN...
4,"{'id': 'cnn', 'name': 'CNN'}",Jennifer Korn,ChatGPT is coming to Slack,Next time you're wondering how to respond to a...,https://www.cnn.com/2023/03/07/tech/chatgpt-sl...,https://media.cnn.com/api/v1/images/stellar/pr...,2023-03-07T20:24:22Z,Next time youre wondering how to respond to a ...
...,...,...,...,...,...,...,...,...
750,"{'id': 'the-verge', 'name': 'The Verge'}",Tom Warren,Microsoft has been secretly testing its Bing c...,Microsoft has been working on Bing chatbots si...,https://www.theverge.com/2023/2/23/23609942/mi...,https://cdn.vox-cdn.com/thumbor/SFYKiQ5obbuhdV...,2023-02-23T16:34:26Z,Illustration: The Verge\r\n\n \n\n\n Microsoft...
751,"{'id': 'the-verge', 'name': 'The Verge'}",Nilay Patel,How Reddit is getting simpler — and dealing wi...,Reddit’s answer to TikTok is a new video-only ...,https://www.theverge.com/23626284/reddit-pali-...,https://cdn.vox-cdn.com/thumbor/q49H1ch4X3zlMD...,2023-03-07T15:00:00Z,Reddit announces a scrolling video view for yo...
752,"{'id': 'the-verge', 'name': 'The Verge'}",Mitchell Clark,What’s new with GPT-4 — from processing pictur...,OpenAI’s latest AI language model has official...,https://www.theverge.com/2023/3/15/23640047/op...,https://cdn.vox-cdn.com/thumbor/QCdO_oKAdBIZCo...,2023-03-15T14:42:57Z,Illustration: The Verge\r\n\n \n\n\n OpenAI’s ...
753,"{'id': 'the-verge', 'name': 'The Verge'}",Andrew Marino,Giles Martin and Sonos CEO Patrick Spence beli...,Sonos just announced their new line of speaker...,https://www.theverge.com/23627331/sonos-ceo-pa...,https://cdn.vox-cdn.com/thumbor/myRkyIZY1yJFeP...,2023-03-07T14:00:00Z,Giles Martin and Sonos CEO Patrick Spence | Ph...
754,"{'id': 'the-verge', 'name': 'The Verge'}",Nilay Patel,Podcasting? Radio? It’s all one big opportunit...,Amid layoffs at NPR and Spotify and a looming ...,https://www.theverge.com/2023/2/28/23617404/ih...,https://cdn.vox-cdn.com/thumbor/nDtCTj4htr0SuU...,2023-02-28T16:00:00Z,Photo illustration: William Joel / The Verge\r...

In [ ]:
results.to_csv("Feb19-Mar18.csv(1)", index=False)

In [ ]:
results["source"].value_counts()

{'id': 'business-insider', 'name': 'Business Insider'}                  100
{'id': None, 'name': 'Forbes'}                                          100
{'id': None, 'name': 'Daily Mail'}                                       51
{'id': None, 'name': 'CNBC'}                                             50
{'id': 'the-verge', 'name': 'The Verge'}                                 49
{'id': None, 'name': 'The Guardian'}                                     37
{'id': 'breitbart-news', 'name': 'Breitbart News'}                       34
{'id': 'reuters', 'name': 'Reuters'}                                     32
{'id': 'fox-news', 'name': 'Fox News'}                                   30
{'id': 'cnn', 'name': 'CNN'}                                             30
{'id': None, 'name': 'New York Post'}                                    28
{'id': None, 'name': 'Substack.com'}                                     27
{'id': 'the-washington-post', 'name': 'The Washington Post'}             22
{'id': None, 'name': 'The Atlantic'}                                     21
{'id': 'usa-today', 'name': 'USA Today'}                                 19
{'id': None, 'name': 'Daily Beast'}                                      16
{'id': None, 'name': 'BBC News'}                                         15
{'id': 'bloomberg', 'name': 'Bloomberg'}                                 15
{'id': 'cbs-news', 'name': 'CBS News'}                                   14
{'id': None, 'name': 'Los Angeles Times'}                                12
{'id': 'nbc-news', 'name': 'NBC News'}                                   11
{'id': 'newsweek', 'name': 'Newsweek'}                                   11
{'id': 'associated-press', 'name': 'Associated Press'}                    9
{'id': 'politico', 'name': 'Politico'}                                    4
{'id': 'the-hill', 'name': 'The Hill'}                                    4
{'id': None, 'name': 'SFGate'}                                            3
{'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}      3
{'id': None, 'name': 'HuffPost'}                                          3
{'id': None, 'name': 'Variety'}                                           2
{'id': None, 'name': 'The-sun.com'}                                       2
{'id': None, 'name': 'Cosmopolitan.com'}                                  1
Name: source, dtype: int64

In [ ]:
web_source = {}
sources = []
news_df
# Define a function to calculate the sentiment of each row
for index, row in results.iterrows():
  sources.append(row['source']['name'])
web_source["source"] = sources
pd.DataFrame(web_source)

        source
0          CNN
1          CNN
2          CNN
3          CNN
4          CNN
..         ...
750  The Verge
751  The Verge
752  The Verge
753  The Verge
754  The Verge

[755 rows x 1 columns]